{{#> layouts/base title="Color Palette" bodyId="palette"}}

{{#*inline "content"}}
<div class="grid-x grid-margin-x">
  <div class="small-12 cell">
    <h1>QTS Color Palette</h1>
    <p>Updated: 08/13/2018</p>
    <p class="lead">The main QTS Color palette is also found in the <code>\_settings.scss</code> file for each project.</p>
  </div>
</div>
    
<section>
  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #03629F" class="color-swatch"></span>
          <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="$primary-color">Brand Primary</span><br> 
          #03629F<br>
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #54A82D" class="color-swatch"></span>
        <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="$secondary-color">Brand Secondary</span><br> 
        #54A82D
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #e07604" class="color-swatch"></span>
        <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="$tertiary-color">Brand Tertiary</span><br>
        #e07604
      </div>
    </div>
  </div>
</section>

<section>
  <br>
    <h3>UI Element/Action Colors</h3>
    <div class="grid-x grid-margin-x">
      <div class="small-6 medium-4 large-2 cell">
        <div class="color-block">
          <span style="background: #54A82D" class="color-swatch"></span>
          Success<br>
          #54A82D
        </div>
      </div>
      <div class="small-6 medium-4 large-2 cell">
        <div class="color-block">
          <span style="background: #cc8604" class="color-swatch"></span>
          Warning<br>
          #cc8604
        </div>
      </div>
      <div class="small-6 medium-4 large-2 cell">
        <div class="color-block">
          <span style="background: #cc4b37" class="color-swatch"></span>
          Alert<br>
          #cc4b37
        </div>
      </div>
    </div><br>
  </section>


<!-- EXTENDED COLOR PALETTE -->
<hr>
<section>
  <h3>Extended Palette</h3>
  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #B40EB6" class="color-swatch"></span>
          Ext. Color 1<br> 
          #B40EB6<br>
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #916727" class="color-swatch"></span>
        Ext. Color 2<br> 
        #916727
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #013352" class="color-swatch"></span>
        Ext. Color 3<br>
        #013352
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #1C9AEB" class="color-swatch"></span>
        Ext. Color 4<br>
        #1C9AEB
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #34681C" class="color-swatch"></span>
        Ext. Color 5<br>
        #34681C
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #E59A49" class="color-swatch"></span>
        Ext. Color 6<br>
        #E59A49
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #5D88A3" class="color-swatch"></span>
          Ext. Color 7<br> 
          #5D88A3<br>
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #9F5E03" class="color-swatch"></span>
        Ext. Color 8<br> 
        #9F5E03
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #1BE53B" class="color-swatch"></span>
        Ext. Color 9<br>
        #1BE53B
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #EDB108" class="color-swatch"></span>
        Ext. Color 10<br>
        #EDB108
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #0513AC" class="color-swatch"></span>
        Ext. Color 11<br>
        #0513AC
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #069FB6" class="color-swatch"></span>
        Ext. Color 12<br>
        #069FB6
      </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #05AC94" class="color-swatch"></span>
          Ext. Color 13<br> 
          #05AC94<br>
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #6C6B0D" class="color-swatch"></span>
        Ext. Color 14<br> 
        #6C6B0D
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #EBE910" class="color-swatch"></span>
        Ext. Color 15<br>
        #EBE910
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #680469" class="color-swatch"></span>
        Ext. Color 16<br>
        #680469
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #C29F22" class="color-swatch"></span>
        Ext. Color 17<br>
        #C29F22
      </div>
    </div>
    <div class="small-6 medium-4 large-2 cell">
      <div class="color-block">
        <span style="background: #178371" class="color-swatch"></span>
        Ext. Color 18<br>
        #178371
      </div>
    </div>
  </div>
</section>

{{/inline}}

{{#*inline "scripts-block"}}
{{!-- <script src="/assets/js/timeline.js"></script> --}}
{{/inline}}

{{/layouts/base}}