
<div class="grid-container-fluid">
  <div class="grid-x">
    <div class="small-12 cell">
      <span #top></span>
      <header class="top-bar">
        <div class="top-bar-left">
          <div class="hamburger hide-for-medium" data-toggle="offCanvasMenu" aria-controls="offCanvasMenu">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <a href="/" title="Style Guide Home">
            <div class="mainlogo">
            </div>
            <div class="appTitle">
              QTS Style Guide
            </div>
          </a>
        </div>
        <nav class="top-bar-right hide-for-small-only">
          <ul class="menu">
            <li>
              <a href="/fontqts">Font QTS</a>
            </li>
            <li>
              <a href="/palette">Color Palette</a>
            </li>
          </ul>
        </nav>
        
        <nav class="off-canvas position-left" id="offCanvasMenu" aria-hidden="true" data-off-canvas> 
          <ul class="menu vertical" data-magellan>
            <li class="main-title">Main Menu</li>
            <li><a href="/fontqts" data-close>Font QTS</a></li>
            <li><a href="/palette" data-close>Color Palette</a></li> 
            <li><hr></li>
            <li class="title">TOC</li>
            <li><a href="#grid" data-close>Grid Layout</a></li>
            <li><a href="#colors" data-close>Color Palette</a></li>
            <li><a href="#typography" data-close>Typography</a></li>
            <li><a href="#buttons" data-close>Buttons</a></li>
            <li><a href="#forms" data-close>Forms</a></li>
            <li><a href="#tables" data-close>Tables</a></li>
            <li><a href="#tooltips" data-close>Tooltips</a></li>
            <li><a href="#charts" data-close>Charts &amp; Maps</a></li>
            <li><a href="#modals" data-close>Modals</a></li>
            <li><a href="#tabs" data-close>Tabs</a></li>
            <li><a href="#accordions" data-close>Accordions</a></li>
            <li><a href="#iconography" data-close>Iconography</a></li>
            <li><a href="#badges" data-close>Badges</a></li>
            <li><a href="#callouts" data-close>Callouts</a></li>
            <li><a href="#cards" data-close>Cards</a></li>
            <li><a href="#sliders" data-close>Sliders</a></li>
            <li><a href="#switches" data-close>Switches</a></li>
            <li><a href="#pagination" data-close>Pagination</a></li>
          </ul>
          <button class="close-button" aria-label="Close Menu" aria-controls="offCanvasMenu" type="button" data-close>
            <span aria-hidden="true">×</span>
          </button>
        </nav>
      </header>
    </div><!-- / Parent cell -->
  </div><!-- /grid-x -->
</div><!-- /grid-container-fluid -->

<main class="grid-container-fluid">
  <div class="grid-x">
    <div class="small-12 cell">

        {{!-- Content Will Go Here --}}