{{!-- includes/hero.hbs --}}
<section class="hero"> 
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-margin-x">
      <div class="small-12 cell">
        <div class="hero-content">
          {{#> hero-block}}
          {{/hero-block}}  
        </div>
      </div><!-- /cell -->
    </div><!-- /grid-x -->
  </div><!-- /grid-container -->
</section> <!-- /hero -->