{{#> layouts/base title="Changelog Style Guide" bodyId="changelog-styleguide"}}

{{#*inline "content"}}
<div class="grid-x grid-padding-x grid-margin-x">
  <section class="small-12 cell">
    <h1>QTS Style Guide Changelog</h1>
  </section><!-- /cell -->

  <section class="small-12 cell">
    <h5>v1.0.6 - 10/11/18</h5>
    <ul>
      <li>Updated styles</li>
      <li>Display bug fixes</li>
    </ul>
  </section><!-- /cell -->

  <section class="small-12 cell">
    <h5>v1.0.5 - 03/28/18</h5>
    <ul>
      <li>Removed bottom margin from .top-bar (#resp-menu) and applied top-margin to the 'main.grid-container-fluid'.</li>
    </ul>
  </section><!-- /cell -->

  <section class="small-12 cell">
    <h5>v1.0.4 - 03/18/18</h5>
    <ul>
      <li>Fixed visible/hidden classes for the .top-bar</li>
    </ul>
  </section><!-- /cell -->
</div><!-- /grid-x -->
{{/inline}}
{{#*inline "scripts-block"}}
  <script src="/assets/js/holder.js"></script>
{{/inline}}

{{/layouts/base}}