{{#> layouts/base title="Changelog Font QTS" bodyId="changelog-fontqts"}}

{{#*inline "content"}}
<div class="grid-x grid-padding-x grid-margin-x">
  <section class="small-12 cell">
    <h1>Font QTS Changelog</h1>
  </section><!-- /cell -->
  
  <section class="small-12 cell">
    <h5>v1.3.0 - 10/10/18</h5>
    <ul>
      <li>Removed Font Awesome Icons due to new ng FA Treeshaking.</li>
    </ul>
  </section><!-- /cell -->
  
  <section class="small-12 cell">
    <h5>v1.2.0 - 05/03/18</h5>
    <ul>
      <li>3 icons added: fa-tanker-money, fa-train-magnified, fa-tankcar-magnified</li>
      <li>3 icons removed that didn't fully fit the iconography style</li>
    </ul>
  </section><!-- /cell -->

  <section class="small-12 cell">
    <h5>v1.1.0 - 04/18/18</h5>
    <ul>
      <li>Scrapped Font Awesome 5 as separate imports due to huge file sizes and decided to import ONLY the icons that we're using from FA5.</li>
      <li>Added 19 icons from Font Awesome to Font QTS 
    </ul>
  </section><!-- /cell -->
</div><!-- /grid-x -->
{{/inline}}

{{#*inline "scripts-block"}}
{{!-- <script src="/assets/js/timeline.js"></script> --}}
{{/inline}}

{{/layouts/base}}